body{
    margin:0;
    width: 100vw;
    height: 100vw;
    overflow: hidden;
   background-color: white;
}

#evil-button{
  
    position: absolute;
    top: 50%;
    bottom: 48%;
    left: 0;
    right: 0;
    margin: auto;
    width: 70px;
    height: 60px;
    white-space: nowrap;
    font-size: 2rem;
   
}

#sim-button {
    
    position: absolute;
    top: 50%;
    left: 40%;
    margin: -25px 0 0 -25px;
    white-space: nowrap;
    font-size: 2rem;
    width: 70px;
    height: 60px;
}
.texto {
    position: absolute;
    top: 40%;
    left: 40%;
    margin: -25px 0 0 -25px;
    white-space: nowrap;
    font-size: 2rem;
}